# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/trunk/build
Conan/conaninfo.txt
Conan/conanbuildinfo.cmake
Conan/conanbuildinfo.gcc
Conan/conanbuildinfo.txt
Conan/conan.lock
Conan/graph_info.json
Conan/packagesProperties.txt
/build
/Build